<h2>Hero List</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>
      </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- 
<h1>{{hero.name}} Details</h1>
<div><span>ID: </span>{{hero.id}}</div>
<div>
    <label for="">Hero Name:</label>
    <input type="text" [(ngModel)]="hero.name">
</div> -->

